@{
    ViewBag.Title = "Managely";
    Layout = "_Layout";
}

@model Managely.Models.ViewModel.EmployeeProfileViewModel

<div class="row">
    <div class="col s4 hide-on-small-only">
        <div class="avatar">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img alt=""
                             height="120"
                             width="120"
                             src="@Model.AvatarUrl"
                             class="responsive-img circle"/>
                        
                    </div>
                    <div class="col s8">
                        <span class="employee-name">
                            @Model.DisplayName <br/>
                            <span class="employee-mail truncate">@Model.Email</span>
                            <span class="employee-profile">
                                <a href="@Url.Action("GetEmployeeProfile", "Employee", new { employeeId = Model.EmployeeId })">
                                    Ver perfil
                                </a>
                            </span>
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>
        @{ await Html.RenderPartialAsync("Holidays"); }
        
    </div>
    <div class="col s8">
        <ul id="latest-employees" class="collection with-header">
            <li class="collection-header grey lighten-5"><h6>Ingresos recientes</h6></li>
        </ul>
        
        @{ await Html.RenderPartialAsync("EmployeesOntimeOff"); }
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
        getLatestEmployees();
    });
    
    function getLatestEmployees() {
        $.ajax({
            url: "/api/employees?take=5",
            type: "GET",
            dataType: "json",
            success: function(data) {
                setLatestEmployees(data);
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    
    function setLatestEmployees(employees) {
       let html = "";
       for(let i = 0; i < employees.length; i++) {
           html += '<li class="collection-item avatar">';
           html += `<img src="${employees[i].avatarUrl}" alt="" class="circle">`;
           html +=  `<span class="title">${employees[i].displayName}<span>`;
           html += `<p>${employees[i].jobPosition} en ${employees[i].department}<br/>`;
           html +=  `${employees[i].email}`;
           html += '</p>';
           html += `<span class="start-date secondary-content">Inicio de actividad: ${employees[i].startDate}</span>`;
           html += '</li>';
       }
         $("#latest-employees").append(html);
    }
</script>
<style>
    .display-name h3 {
      font-weight: lighter;
      font-size: 35px;
    }
    
    #latest-employees {
        padding: 0;
    }
    
    #latest-employees .card-panel {
        margin: 0 0 0.5rem 0;
    }
    
    .avatar {
        font-weight: lighter;
        font-size: 20px;
        position: relative;
    }
    
    .employee-mail {
        font-weight: lighter;
        font-size: 15px;
        font-style: italic;
    }
    
    .employee-profile a {
        
      text-decoration: none;
      color: inherit;
      font-weight: bold;
    }
    .start-date {
        font-style: italic;
        font-weight: lighter;
        font-size: 13px;
        color: #9575cd;
    }
</style>