<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - managely</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await RenderSectionAsync("Styles", false)

        
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- js materializecss -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- jquery with datatable -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/js/orgchart.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>

<nav>
    <div class="nav-wrapper deep-purple lighten-1">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a asp-area="" asp-controller="Collaborators" asp-action="Index">Colaboradores</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
        <div id="loader" class="progress deep-purple lighten-3" style="height:5px; display: none">
            <div class="indeterminate deep-purple lighten-2"></div>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>
</body>
</html>

@* #ede7f6 deep-purple lighten-5 *@
@* #d1c4e9 deep-purple lighten-4 *@
@* #b39ddb deep-purple lighten-3 *@
@* #9575cd deep-purple lighten-2 *@